html,
body {
  height: 100%;
  line-height: 1.3;
  
}

body.action {
  overflow: hidden;
  height: 100%;
  
}
/* section1 시작 */
#wrap {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 200px;
  height: 100%;
  background-color: #3c3c4b;
  
}

#header #logo {
  padding-top: 80px;
  
}

#header #logo>a {
  display: block;
  text-align: center;
  
}

#header nav {
  margin-top: 230px;
  
}

#header nav .menu {
  
}

#header nav .menu>li {
  padding: 0 20px;
  margin-bottom: 72px;
  
}

#header nav .menu>li>a {
  display: block;
  position: relative;
  font-size: 25px;
  color: #fff;
  text-align: center;
  
}

#header nav .menu>li.active>a::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 55%;
  width: 137px;
  height: 1px;
  background: #fff;
  transform: translateY(-50%);
  
}


#content {
  position: relative;
  padding-left: 200px;
  
}

#content .section-01 {
  background-image: url(../images/se01_bak2.png);
  background-size: 1026px;
  background-repeat: no-repeat;
  background-position: -40px -200px;
  min-height: 100vh;
  position: relative;
  
}


.puzzle2 {
  position: absolute;
  width: 256px;
  top: calc(555px + 100px);
  left: calc(521px + 100px);
  transition: top .3s, left .3s, transform .3s;
  transform: rotate(calc(52deg + -145deg));
  
}

#content .section-01:hover .puzzle2 {
  top: 554px;
  left: 520px;
  transform: rotate(calc(52deg));
  }

#content .section-01 .con-box {
  padding-right: 82px;
  text-align: right;
  
  
}

#content .section-01 .con-box .tit {
  line-height: 1;
  font-size: 144px;
  font-weight: 900;
  color: #3c3c4b;
  opacity: 0;
  transform: translateX(-100px);
  
}

#content .section-01 .con-box p {
  font-size: 96px;
  color: #757592;
  opacity: 0;
  transform: translateX(-100px);
  
}

#content .section-01 .con-box .name {
  display: block;
  position: static !important;
  font-size: 80px;
  font-weight: bold;
  color: #3c3c4b;
  opacity: 0;
  transform: translateX(-100px);
  
}

#content .section-01 .icon {
  position: absolute;
  right: 82px;
  bottom: 81px;
  
  
}
#content .section-01 .icon::after {
  content:"";
  width:11.59px;
  height:15.35px;
  border-radius:5px;
  background-color:#3C3C4B;
  position:absolute;
  left:calc(50% - 5px);
  bottom:20px;
  animation: ani-1 1.4s linear infinite;
 
}

@keyframes ani-1 {
  0% {
    bottom:100px;
    opacity:0;
  }
  
  90% {
    bottom:40px;
    opacity:1;
  }
  
  100% {
    bottom:80px;
    opacity:0;
  }
}

/* 스크롤 애니메이션 */
#content .section-01.active .con-box .tit {
  opacity: 1;
  transform: translateZ(0);
  transition: 0.7s;
}

#content .section-01.active .con-box p {
  opacity: 1;
  transform: translateZ(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}

#content .section-01.active .con-box .name {
  opacity: 1;
  transform: translateZ(0);
  transition: 0.5s;
  transition-delay: 1s;
}
/* section1 끝 */

/* section2 시작 */
.aboutme {
  position: absolute;
  top: 226px;
  left: 670px;
  width: 873px;
}

#content .section-02 {
  background-image: url(../images/se02_bak.png);
  background-repeat: no-repeat;
  background-position: bottom -103px right;
}

#content .section-02 {}

#content .section-02 .h-box {
  position: absolute;
  right: 0;
  top: 13px;
  width: 700px;
  border-bottom: 10px solid #3c3c4b;
}

#content .section-02 .h-box p {
  font-size: 100px;
  color: #d7d7d7;
  font-family: 'Rhodium Libre';
  opacity: 0.5;
}

#content .section-02 .h-box h2 {
  position: relative;
  margin-top: -94px;
  padding-left: 63px;
  text-align: center;
}

#content .section-02 .h-box h2 span {
  display: inline-block;
  padding: 10px 106px 0 0;
  font-size: 64px;
  font-weight: bold;
  color: #3c3c4b;
  background-image: url(../images/se02_tit_i.png);
  background-repeat: no-repeat;
  background-position: top right;
}

#content .section-02 .con-box {
  padding-left: 91px;
}

#content .section-02 .con-box::after {
  content: "";
  clear: both;
  display: block;
}

#content .section-02 .con-box .con-l {
  float: left;
  width: 467px;
}

#content .section-02 .con-box .con-l .notice-box {
  margin-bottom: 48px;
}

#content .section-02 .con-box .con-l .notice-box:last-child {
  margin-bottom: 0;
}

#content .section-02 .con-box .con-l .notice-box .tit-t {
  height: 36px;
  background-image: url(../images/se02_tit_h.png);
  background-repeat: no-repeat;
}

#content .section-02 .con-box .con-l .notice-box .tit-t span {
  display: block;
  width: 143px;
  font-weight: 400;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

#content .section-02 .con-box .con-l .notice-box .con-con {
  padding-top: 28px;
}

#content .section-02 .con-box .con-l .notice-box .con-con .notice-list {}

#content .section-02 .con-box .con-l .notice-box .con-con .notice-list>li {
  margin-bottom: 23px;
}

#content .section-02 .con-box .con-l .notice-box .con-con .notice-list>li::after {
  content: "";
  display: block;
}

#content .section-02 .con-box .con-l .notice-box .con-con .notice-list>li:last-child {
  margin-bottom: 23px;
}

#content .section-02 .con-box .con-l .notice-box .con-con .notice-list>li>span {
  float: left;
  width: 85px;
  font-size: 25px;
  color: #000;
  font-weight: 500;
}

#content .section-02 .con-box .con-l .notice-box .con-con .notice-list>li>p {
  overflow: hidden;
  color: #000;
  font-size: 20px;
}

#content .section-02 .con-box .con-l .notice-box .con-con .skill-list {
  width: 313px;
  margin: 0 -26px;
}

#content .section-02 .con-box .con-l .notice-box .con-con .skill-list::after {
  content: "";
  clear: both;
  display: block;
}


#content .section-02 .con-box .con-l .notice-box .con-con .skill-list>li {
  float: left;
  width: 33.33%;
  margin-bottom: 15px;
  padding: 0 26px;
  text-align: center;
}

#content .section-02 .con-box .con-l .notice-box .con-con .skill-list>li:nth-child(4),
#content .section-02 .con-box .con-l .notice-box .con-con .skill-list>li:nth-child(5),
#content .section-02 .con-box .con-l .notice-box .con-con .skill-list>li:nth-child(6) {
  margin-bottom: 0;
}

#content .section-02 .con-box .con-l .notice-box .con-con .skill-list>li>figure {
  margin-bottom: 11px;
}

#content .section-02 .con-box .con-l .notice-box .con-con .skill-list>li>p {
  color: #000;
  font-size: 15px;
}
/* section2 끝 */

/* section3 시작 */
#content .section-03 .h-box {
  position: absolute;
  right: 0;
  top: 13px;
  width: 700px;
  border-bottom: 10px solid #3c3c4b;
}

#content .section-03 .h-box p {
  font-size: 96px;
  color: #d7d7d7;
  font-family: 'Rhodium Libre';
  opacity: 0.5;
}

#content .section-03 .h-box h2 {
  position: relative;
  margin-top: -94px;
  padding-left: 63px;
  text-align: center;
}

#content .section-03 .h-box h2 span {
  display: inline-block;
  padding: 10px 106px 0 0;
  font-size: 64px;
  font-weight: bold;
  color: #3c3c4b;
  background-image: url(../images/se02_tit_i.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.section-03 .tab-tit-list{
  position:absolute;
  left:247px;
  top:107px;
  width:100%;
  display: block;
}

.section-03 .tab-tit-list:after{
  content:"";
  display:block;
  clear:both;
}

.section-03 .tab-tit-list > li{
  float:left;
  margin-right:49.5px;
  width: 172.07px;
  height: 42.7px;
  border-radius:9px;
  background-color:#3c3c4b;
  font-size:20px;
  font-weight: bold;
  }
.section-03 .tab-tit-list > li:last-child{
  margin-right:20PX;}

.section-03 .tab-tit-list > li > a{
  display:block;
  padding:10px 20px;
  font-size:20px;
  color:white;
  background-color:#3c3c4b;
  text-align: center;
  border-radius: 9px;
}
.section-03 .tab-tit-list > li > a.active,
.section-03 .tab-tit-list > li > a:hover{
  color:#fff;
  background-color:#3c3c4b;
}

.section-03 .tab-content{
  position:relative;
  padding-top:50px;}

.section-03 .tab-content .tab-con{
  display:none;
}
.section-03 .tab-content .tab-con.active{
  display:block;
}

.section-03 .portfolio-wrap {
  position: relative;
  width: 1600px;
  margin: 0 auto;
  padding: 0 180px;

}

.section-03 .portfolio-wrap .portfolio-slide {
  margin: 0 -25px;
}

.section-03 .portfolio-wrap .portfolio-slide::after {
  content: "";
  display: block;
  clear: both;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con {
  
  float: left;
  width: 33.33%;
  padding: 0 25px;

}
.section-03 .portfolio-wrap .portfolio-slide .item-con .con-box{
  position:relative;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .con-box .mask{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:76%;
  padding:25px;
  background:rgba(0,0,0,0.8);
  opacity:0;
  transition:all 0.5s;}

.section-03 .portfolio-wrap .portfolio-slide .item-con .con-box .mask .mask-con{
    position: relative;
    left:-24px;
    top:-21px;
    width: 379.73px;
    height: 421.11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
	  padding:40px;
    border-radius:10%;


}

.section-03 .portfolio-wrap .portfolio-slide .item-con .con-box .mask .mask-con strong{
  margin-bottom:25px;
  font-size:24px;
  color:#fff;
}
.section-03 .portfolio-wrap .portfolio-slide .item-con .con-box .mask .mask-con p{
  color:#fff;
  font-size:18px;
}


.section-03 .portfolio-wrap .portfolio-slide .item-con .con-box:hover .mask{
  opacity:1;}

.section-03 .portfolio-wrap .portfolio-slide .item-con .img-con {
  margin-bottom: 20px;
  border: 0px solid #3c3c4b;
  position:relative;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .con-h {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  background-image: url(../images/se02_tit_h.png);
  background-repeat: no-repeat;
}


.section-03 .portfolio-wrap .portfolio-slide .item-con .con-h span {
  display: block;
  width: 143px;
  font-weight: 400;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .con-h .se03-team {
  position: absolute;
  right: 0;
  top: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .list {}

.section-03 .portfolio-wrap .portfolio-slide .item-con .list>li {
  margin-bottom: 10px;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .list>li:last-child {
  margin-bottom: 0;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .list>li>span {
  float: left;
  width: 85px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .list>li>p {
  overflow: hidden;
  color: #000;
  font-size: 18px;
}


.section-03 .portfolio-wrap .portfolio-slide .item-con .btn-list{
  margin:25px -14px 0;
}
.section-03 .portfolio-wrap .portfolio-slide .item-con .btn-list::after{
  content:"";
  display:block;
  clear:both;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .btn-list > li{
  float:left;
  width:50%;
  padding:0 14px;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .btn-list > li > .btn{
  display:block;
  line-height:55px;
  text-align:center;
  border:1px solid #3c3c4b;
  font-weight:bold;font-size:16px;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .btn-list > li > .btn.li01{
  color:#000;
  background-color:#fff;
}

.section-03 .portfolio-wrap .portfolio-slide .item-con .btn-list > li > .btn.li02{
  color:#fff;
  background-color:#3c3c4b;
}

.section-03 .portfolio-wrap .slide-btn-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.section-03 .portfolio-wrap .slide-btn-wrap .slide-btn {
  cursor: pointer;
}

.section-03 .portfolio-wrap .slide-btn-wrap .swiper-btn-prev {
  float: left;
}

.section-03 .portfolio-wrap .slide-btn-wrap .swiper-btn-next {
  float: right;
}
 .nextbox{
   position:absolute;
   top:589px;
   right: 1250px;
   width:183.48px;
   height:55.67px;
   border:1px solid #3c3c4b;
    }
    .nextbox>p{
      position:relative;
      color:#000000;
      text-align: center;
      top:16px;
      font-weight: bold;
       }
       .viewbox{
        position:absolute;
        top:589px;
        left:370px;
        width:183.48px;
        height:55.67px;
        border:1px solid #3c3c4b;
        background-color: #3c3c4b;
         }
         .viewbox>p{
           position:relative;
           color:#000000;
           text-align: center;
           top:16px;
           color: white;
            }
       

.se03_left {
  position: absolute;
  width: 87px;
  left: 57px;

}

.se03_right {
  position: absolute;
  width: 87px;
  right: 55px;

}

.portfolio-box {
  position: relative;
  display: flex;

}

.portfolio-box1 {
  position: absolute;
  display: flex;
  width: 407px;
  height: 449px;
  left: 200px;
  top: -250px;
  justify-content: space-around;
  border: 5px solid #3c3c4b;
}

.portfolio-box1>img {
  margin-left: -10;
  width: 380px;
}

.portfolio-box2 {
  position: absolute;
  display: flex;
  width: 407px;
  height: 449px;
  left: 650px;
  top: -250px;
  border: 5px solid #3c3c4b;
}

.portfolio-box3 {
  position: absolute;
  display: flex;
  width: 407px;
  height: 449px;
  left: 1100px;
  top: -250px;
  border: 5px solid #3c3c4b;
}

.portfolio-box1-1 {
  position: absolute;
  width: 402px;
  left: 198px;
  top: 226px;
}

.portfolio-box1-1>p {

  position: relative;
  font-size: 20px;
  font-weight: bold;
  top: -35px;
  left: 20px;
  color: white;
}



.team {
  position: absolute;
  font-size: 14px;
  left: 495px;
  top: 235px;
  width: 107px;
  color: #000000;
  font-weight: 500;
  font-weight: bold;
}

.name {
  position: relative;
  font-size: 20px;
  color: #000000;
  top: 280px;
  left: 218px;
  font-weight: bold;

}

.date {
  position: relative;
  font-size: 20px;
  color: #000000;
  top: 320px;
  left: 164px;
  font-weight: bold;

}

.subtext {
  position: relative;
  font-size: 20px;
  color: #000000;
  top: 280px;
  left: 201px;
}

.subtext2 {
  position: relative;
  font-size: 20px;
  color: #000000;
  top: 320px;
  left: 120px;
}
/* section3 끝 */

/* section4 시작 */
#content .section-04 .h-box {
  position: absolute;
  right: 0;
  top: 13px;
  width: 700px;
  border-bottom: 10px solid #3c3c4b;
}

#content .section-04 .h-box p {
  font-size: 96px;
  color: #d7d7d7;
  font-family: 'Rhodium Libre';
  opacity: 0.5;
}

#content .section-04 .h-box h2 {
  position: relative;
  margin-top: -94px;
  padding-left: 63px;
  text-align: center;
}

#content .section-04 .h-box h2 span {
  display: inline-block;
  padding: 10px 106px 0 0;
  font-size: 64px;
  font-weight: bold;
  color: #3c3c4b;
  background-image: url(../images/se02_tit_i.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.kakao{
  position: relative;
  padding-top: 20px;
}

.try>p {
  font-size: 48px;
  color: #3c3c4b;
  font-weight: 700;
  margin-top: -300px;
  margin-left: 80px;
}

.effort {
  position: relative;
  font-size: 24px;
  color: #252525;
  padding: 22px;
  padding-left: 93px;
  font-weight: 400;
}

.se04-puzzle {
  position: absolute;
  left: -50px;
}

.se04-puzzle2 {
  position: absolute;
  left: 1485px;
  top: 180px;
  width: 254.95px;
}


.contact {
  position: absolute;
  left: 1380px;
  bottom: 550px;
  font-size: 40px;
  font-weight: 700;
}

.call {
  position: absolute;
  left: 1280px;
  bottom: 500px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  letter-spacing: 0.5;
}

.se04-iconbox {
  position: absolute;
  display: block;
  left: 796px;
  bottom: 240px;
  padding: 32px;

}

.email {
  position: absolute;
  width: 707px;
  height: 65px;
  border-radius: 5px;
  border: 2px solid #3c3c4b;
  left: 895px;
  font-size: 24px;
  color: #A0A0A0;
}

.memo {
  position: absolute;
  width: 707px;
  height: 276px;
  border-radius: 5px;
  border: 2px solid #3c3c4b;
  left: 895px;
  bottom: 118px;
  font-size: 24px;

}

::placeholder {
  color: #A0A0A0;

}

.send {
  display: flex;
  position: absolute;
  height: 46px;
  width: 96px;
  left: 1494px;
  bottom: 55px;
  border-radius: 10px;
  background-color: #3c3c4b;
  cursor: pointer;
}

.sendtext {
  position: relative;
  display: flex;
  height: 100%;
  color: white;
  align-items: center;
  left: 20%;
  font-size: 20px;
  font-weight: 400;
}

/* section4 끝*/



